@model MyportfolioProject.Models.Tbl_Categories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
}

<h3>Yeni Kategori Ekleme Sayfası</h3>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" name=CategoryName class="form-control"/>
    <br />

    <button class="btn btn-outline-dark">Kaydet</button>

</form>

