@model MyportfolioProject.Models.Tbl_Services
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Servis Ekleme Sayfası</h2>
<br />
<br />

<form method="post">


    <label>Ünvan</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
 


    <button class="btn btn-outline-primary">Kaydet</button>





</form>

